{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
    {% if has_add_permission %}
    <li>
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
            Assign License
        </a>
    </li>
    <li>
        {% url cl.opts|admin_urlname:'bulk_assign' as bulk_assign_url %}
        <a href="{{ bulk_assign_url }}" class="addlink">Bulk Assign</a>
    </li>
    {% endif %}
{% endblock %}